
h4 {
    font-size: 1.1rem !important;
}

.business-student-status-header {
    font-weight: bold;
    min-height: 35px !important;
}

.business-student-status {
    min-height: 45px !important;
}

.business-student-status-container .updated-by,
.business-student-status-container .updated {
    text-align: center;
}

.business-student-status .updated {
    cursor: pointer;
}
